<% layout("./layout/boilerplate") %>
    <img src="<%= camp.image %>" alt="img" width="400px">
    <h1>
        <%= camp.title %>
    </h1>
    <ul>
        <li>
            <%= camp.location %>
        </li>
        <li>
            <%= camp.description %>
        </li>
        <li>
            <%= camp.price %>
        </li>
    </ul>
    <a href="/campgrounds/<%= camp._id %>/edit" style="text-decoration: none; color: red;">Edit</a>
    <br>
    <a href="/campgrounds" style="text-decoration: none; color: red;">All Campgrounds</a>
    <br>
    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>